*.class
*.orig
.classpath
.factorypath
.project
*.swp
*.swo
*~
TAGS
# intellij support - ignore *.iml, .idea
.idea
*.iml
.metadata
target/
.settings
db_schema/data/master/private*
db_schema/data/lada/private*
.dir-locals.el
.vscode
.#*
#*#
